@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-poppins: var(--font-poppins);
  --font-body: var(--font-body);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}

body, p, span, input, button {
  font-family: var(--font-poppins);
}
