@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-heading: var(--font-merriweather);
  --font-body: var(--font-inter);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), serif;
}

body, p, span, input, button {
  font-family: var(--font-body), sans-serif;
}
